html, body {
    margin: 0;
    padding: 0;
}

nav {
    font-size: 1.5rem;
}

.size_icons {
    font-size: 3rem;
    color: #E84545;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url('../images/Mont.jpg');
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
    min-height: 100vh; /* Asegura que el fondo cubra al menos la altura de la ventana */
    overflow: auto; /* Permite el desplazamiento */
    position: relative;
    color: white;
    padding: 0.5rem 2rem;
}

header, footer {
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    width: 100%;
    color: #fff;
    background-color: #01111A;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

main {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
    text-align: center;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

footer {
    border-radius: 10px;
    width: 100%;
    text-align: center;
    background-color: #01040C;
}

.nombres-centrados {
    color: #fff;
    text-align: center; 
    justify-content: space-between; 
}
  
.nombres-centrados span {
    margin-right: 20px; /* Agrega una tabulación entre los nombres */
}
