#container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas adicionales si es necesario */
    
}

img {
    width: 100%;
    transition: transform 0.2s;
}

.rectangle {
    background-color: #DFE1E4;
    text-align: center;
    position: relative;
    width: 400px; /* Ancho del contenedor de imagen */
    height: 300px; /* Alto del contenedor de imagen */
    margin-bottom: 20px; /* Espacio entre los contenedores de imagen */
}

.rectangle::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% + 0.1rem);
    height: calc(100% + 0.1cm);
    background-color: #e74c3c;
    z-index: -1;
}

.image-container {
    overflow: hidden;
    width: 100%; /* Ajusta el tamaño del contenedor al 100% del padre (.rectangle) */
    height: 100%; /* Ajusta el tamaño del contenedor al 100% del padre (.rectangle) */
    position: relative;
}

.image-container img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transform-origin: center center; /* El punto de origen del zoom será el centro de la imagen */
}

.image-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Hace que el input sea invisible */
    cursor: pointer; /* Cambia el cursor al hacer hover sobre el div */
}

.image-container button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    z-index: 1; /* Asegura que el botón esté sobre el input invisible */
}


#download-btn {
    padding: 10px 20px;
    background-color: rgba(226, 226, 226, 0);
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 2.5rem;
    visibility: hidden;
    z-index: 2;
}

.image-container .download-btn {
    margin-left: 10.5rem;
}


.button-container {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.container-zoom {
    width: 50%; /* Ocupa el 50% del ancho de la página */
    margin: 70px auto 30px; /* Aumenta el margen superior para bajar el control de rango */
    text-align: center;
    bottom: 15%;
}

#zoom-range {
    width: 100%; /* Asegura que el input de rango ocupe todo el ancho del contenedor */
}

button {
    padding: 10px 20px;
    font-size: 18px; /* Tamaño de letra más grande */
    font-weight: bold; /* Negritas */
    color: white; /* Color del texto */
    background-color: #e74c3c; /* Color de fondo del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}