<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c84429ff8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            {% block header %}{% endblock %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p class="nombres-centrados">
            &copy;
            <span>De la Cruz De la Cruz Alejandra</span>
            <span> Flores Esquivel Luis Antonio</span>
            <span>Jimenez Rodriguez Jose Alfredo</span>
            <span>Rosales Benhumea Aldo</span>
        </p>
    </footer>
</body>

</html>
