{% extends "base.html" %}
{% block title %} Mejorar Foto {% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mejorada.css') }}">
<div class="navigator">
    <!-- <i class="fa-solid fa-circle-arrow-left size_icons"></i> -->
    <h1>Mejorar Foto</h1>
    <a href="/my_images"><i class="fa-solid fa-folder size_icons"></i></a>
</div>
{% endblock %}
{% block content %}
<div id="container">
    <div class="rectangle">
        <div id="original" class="image-container original">
            <img id="original-image" src="#" alt="Imagen original" style="display:none;">
            <form id="upload-form" enctype="multipart/form-data">
                <input type="file" id="file-input" name="image" accept="image/*" required>
            </form>
            <button id="download-btn" class="download-btn"><i class="fa-regular fa-floppy-disk size_icons"></i></button>
        </div>
        <h2>Imagen Original</h2>
    </div>
    <div class="rectangle">
        <div id="result" class="image-container result">
            <img id="enhanced-image" src="#" alt="Imagen mejorada" style="display:none;">
            <br>
        </div>
        <h2>Imagen Mejorada</h2>
    </div>
</div>

<div class="container-zoom">
    <input type="range" id="zoom-range" min="1" max="10" step="0.1" value="1">
</div>

<div class="button-container">
    <button type="submit" form="upload-form">Mejorar Foto</button>
</div>

<script src="{{ url_for('static', filename='javascript/mejorada.js') }}"></script>
{% endblock %}
