<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen Mejorada</title>
    <link rel="stylesheet" href="../css/mejorada.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="botones izquierda">
                <button id="volver">
                    <img src="../img/volver.png" alt="Volver">
                </button>
            </div>
            <h1>Imagen Mejorada</h1>
            <div class="botones derecha">
                <button id="archivo">
                    <img src="../img/archivo.png" alt="Archivo">
                </button>
            </div>
        </header>

        <main>
            <section class="image-container">
                <div class="image-box">
                    <div class="image-placeholder" id="original"></div>
                    <p>Foto Original</p>
                </div>
                <div class="image-box">
                    <div class="image-placeholder" id="processed"></div>
                    <p>Foto Procesada</p>
                </div>
            </section>
            <div class="button-container">
                <button class="download-button">Descargar</button>
            </div>
        </main>

        <footer>
            <p class="nombres-centrados">
                &copy;
                <span>De la Cruz de la Cruz Alejandra</span>
                <span>Flores Esquivel Luis Antonio</span>
                <span>Jimenez Rodriguez Jose Alfredo</span>
                <span>Rosales Benhumea Aldo</span>
            </p>
        </footer>
    </div>
    <script src="../js/mejorada.js"></script>
</body>
</html>
