{% extends "base.html" %}
{% block title %} Mis Imágenes Mejoradas {% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/proyectos.css') }}">
<div class="navigator">
    <a href="/"><i class="fa-solid fa-circle-arrow-left size_icons"></i></a>
    <h1>Mis imágenes mejoradas</h1>
    <a href="/my_images"><i class="fa-solid fa-folder size_icons"></i></a>
</div>
{% endblock %}
{% block content %}
    <div id="image-gallery">
        {% set counter = 0 %}
        {% for url in enhanced_image_urls %}
            {% if url %}
                {% if counter % 3 == 0 %}
                    <div class="row">
                {% endif %}
                        <div class="image-container">
                            <img src="{{ url }}" alt="Imagen mejorada">
                        </div>
                {% if counter % 3 == 0 %}
                    </div>
                {% endif %}
            {% set counter = counter + 1 %}
            {% endif %}
        {% endfor %}
        {% if counter % 3 != 0 %}
            </div>
        {% endif %}
    </div>
{% endblock %}
