{% extends "base.html" %}
{% block title %} Mis Imágenes Mejoradas {% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/proyectos.css') }}">
<div class="navigator">
    <a href="/"><i class="fa-solid fa-circle-arrow-left size_icons"></i></a>
    <h1>Mis imágenes mejoradas</h1>
    <a href="/my_images"><i class="fa-solid fa-folder size_icons"></i></a>
</div>
{% endblock %}

{% block content %}
<div id="container">
    <div class="rectangle add-new">
        <i class="fa fa-plus fa-3x"></i>
        <a href="/" class="add-photo-link">
            <span>Agregar Nueva Foto</span>
        </a>
    </div>
    {% set counter = enhanced_image_urls|length %}
    {% for url in enhanced_image_urls %}
    <div class="rectangle">
        <div class="image-container">
            <img src="{{ url }}" alt="Foto {{ loop.index }}" class="modal-img">
            <div class="name-tag">Foto {{ loop.index }}</div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="myModal" class="modal" style="display: none;">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
</div>
<script src="{{ url_for('static', filename='javascript/modal.js') }}"></script>
{% endblock %}