<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus Proyectos</title>
    <link rel="stylesheet" href="../css/proyectos.css">
</head>
<body>
    <header>
        <div class="botones">
            <button id="volver">
                <img src="../img/volver.png" alt="Volver">
            </button>
        </div>
        <h1>Tus Proyectos</h1>
    </header>

    <main>
        <section class="grid-container">
            <div class="grid-item agregar-foto">
                <div class="icono-agregar">+</div>
                <p>Agregar Nueva Foto</p>
            </div>
            <div class="grid-item">
                <img src="foto1.png" alt="Foto 1">
                <p>Foto 1</p>
            </div>
            <div class="grid-item">
                <img src="foto2.png" alt="Foto 2">
                <p>Foto 2</p>
            </div>
            <div class="grid-item">
                <img src="foto3.png" alt="Foto 3">
                <p>Foto 3</p>
            </div>
            <div class="grid-item">
                <img src="foto4.png" alt="Foto 4">
                <p>Foto 4</p>
            </div>
            <div class="grid-item">
                <img src="foto5.png" alt="Foto 5">
                <p>Foto 5</p>
            </div>
        </section>
    </main>

    <footer>
        <p class="nombres-centrados">
            &copy;
            <span>De la Cruz de la Cruz Alejandra</span>
            <span>Flores Esquivel Luis Antonio</span>
            <span>Jimenez Rodriguez Jose Alfredo</span>
            <span>Rosales Benhumea Aldo</span>
        </p>
    </footer>

    <script src="../js/proyectos.js"></script>
</body>
</html>
